@charset 'utf-8';
@import '_variables';
@import '_mediaQuery';

%pseudoElement {
  content: '';
  display: block;
  opacity: 0;
  position: absolute;
  transition-duration: $transitionS;
  width: 100%;
  z-index: -10;
}

html {
  box-sizing: border-box;
  font-family: $ffBody
}

*, *::before, *::after {
  box-sizing: inherit;
}

code {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 10px;
  font-weight: bolder;
  letter-spacing: 0.2px;
  margin: 0 0 16px 0;
  text-transform: uppercase;
}

p {
  font-size: 16px;
  line-height: 1.35;
  margin: 0;
  position: relative;
  white-space: pre;
  &::before {
    @extend %pseudoElement;
    background-color: $colorC;
    height: 16px;
  }
  &:not(:last-of-type)::after {
    @extend %pseudoElement;
    background-color: $colorM;
    bottom: 0;
    height: calc(16px * 0.35);
  }
  &:last-of-type {
    line-height: 1;
  }
  @include tablet {
    font-size: 16px;
    line-height: 1.45;
  }
  @include desktop {
    font-size: 18px;
    line-height: 1.55;
  }
}

.blockC {
  display: inline-block;
  width: 16px;
  height: 16px;
  background-color: $colorC;
  margin: 0 4px 0 0;
}

.blockM {
  display: inline-block;
  width: 16px;
  height: 16px;
  background-color: $colorM;
  margin: 0 4px 0 0;
}

.paragraphContainer {
  padding: 16px 0;
  border-top: 1px dashed $colorGray;
  &:hover p::before, &:hover p::after {
    opacity: 1;
  }
  @include noCursor {
    p::before, p::after {
      opacity: 1;
    }
  }
}

.paragraphBlock {
  // border: 1px dashed red;
  & + .paragraphBlock {
    margin-top: 16px;
  }
}