html {
  box-sizing: border-box;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }

*, *::before, *::after {
  box-sizing: inherit; }

p {
  margin: 0;
  font-size: 16px;
  line-height: 1.35; }
  @media (min-width: 768px) and (max-width: 1023px) {
    p {
      font-size: 16px;
      line-height: 1.45; } }
  @media (min-width: 1024px) {
    p {
      font-size: 18px;
      line-height: 1.55; } }

.paragraphSet {
  border: 1px dashed red; }
  .paragraphSet + .paragraphSet {
    margin-top: 1em; }
