p::before, p:not(:last-of-type)::after {
  content: '';
  display: block;
  opacity: 0;
  position: absolute;
  transition-duration: 0.3s;
  width: 100%;
  z-index: -10; }

html {
  box-sizing: border-box;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }

*, *::before, *::after {
  box-sizing: inherit; }

code {
  display: inline-flex;
  align-items: center;
  justify-content: left;
  font-size: 12px;
  font-weight: bolder;
  letter-spacing: 0.2px;
  margin: 0 0 8px -2px;
  padding: 0 0 8px 0;
  width: 100%;
  border-bottom: 1px solid #cccccc;
  text-transform: uppercase; }

p {
  font-size: 18px;
  line-height: 1.35;
  margin: 0;
  position: relative;
  white-space: pre; }
  p::before {
    background-color: #d9f9ff;
    top: 0; }
  p:not(:last-of-type)::after {
    background-color: #ffd1f8; }
  p:last-of-type {
    line-height: 1; }

.fontSizeKey {
  display: inline-block;
  border-radius: 500px;
  width: 20px;
  height: 20px;
  background-color: #d9f9ff;
  margin: 0 4px 0 0; }

.lineHeightKey {
  display: inline-block;
  border-radius: 500px;
  width: 20px;
  height: 20px;
  background-color: #ffd1f8;
  margin: 0 4px 0 0; }

.paragraphContainer {
  padding: 0 0 72px 0;
  overflow: hidden; }
  .paragraphContainer:hover p::before, .paragraphContainer:hover p::after {
    opacity: 1; }
  @media (any-pointer: coarse) {
    .paragraphContainer p::before, .paragraphContainer p::after {
      opacity: 1; } }

.paragraphBlock.fs10px p {
  font-size: 10px !important; }
  .paragraphBlock.fs10px p::before {
    height: 10px; }
  .paragraphBlock.fs10px p:not(:last-of-type)::after {
    height: calc(10px * 0.35);
    top: 10px; }

.paragraphBlock.fs14px p {
  font-size: 14px !important; }
  .paragraphBlock.fs14px p::before {
    height: 14px; }
  .paragraphBlock.fs14px p:not(:last-of-type)::after {
    height: calc(14px * 0.35);
    top: 14px; }

.paragraphBlock.fs18px p {
  font-size: 18px !important; }
  .paragraphBlock.fs18px p::before {
    height: 18px; }
  .paragraphBlock.fs18px p:not(:last-of-type)::after {
    height: calc(18px * 0.55);
    top: 18px; }

.paragraphBlock.lh135 p {
  line-height: 1.35 !important; }

.paragraphBlock.lh155 p {
  line-height: 1.55 !important; }

.paragraphBlock + .paragraphBlock {
  margin-top: 16px; }
