@charset 'utf-8';
@import '_variables';
@import '_mediaQuery';

html {
  box-sizing: border-box;
  font-family: $ffBody
}

*, *::before, *::after {
  box-sizing: inherit;
}

// 999 calculations
p {
  margin: 0;
  font-size: 16px;
  line-height: 1.35;
  @include tablet {
    font-size: 16px;
    line-height: 1.45;
  }
  @include desktop {
    font-size: 18px;
    line-height: 1.55;
  }
}

.paragraphSet {
  border: 1px dashed red;
  & + .paragraphSet {
    margin-top: 1em;
  }
}